#title {
  padding: 3px;
}
#input {
    display: flex;
    float: left;

}
.dados {
    border-right: 10px;
    margin-left: 10px;
}
button {
    background-color: #4caf50;
    color: #fff;
    border-radius: 3px;
    border: none;
    padding-top: 4px;
    padding-bottom: 2px;
    padding-left: 9px;
    padding-right: 9px;
    margin-left: 10px;
    cursor: pointer;
}
th {
    background-color: #4caf50;
    color: #fff;
    border: 1px solid #252525;
    padding-right: 190px;
}
td {
    border: 1px solid #000;
    background-color: #eee;
}