.botao{
    cursor: pointer;
    border: 2px solid #fff;
    border-radius: 15px;
    padding: 6px 9px;
    margin-top: 1rem;
    background-color: #000;
    color: #fff;
    font-weight: bolder;
    font-size: larger;
}