body {
    font-family: Arial, sans-serif;
    background-color: #fff3e0;
    text-align: center;
}

h1 {
    color: #e65100;
}

h2 {
    color: #fb009b;
}

#name-container {
    margin-bottom: 10px;
}

input {
    padding: 6px;
    margin: 5px;
    width: 160px;
    border: 2px solid #fb009b;
    border-radius: 5px;
}
button{
    padding: 6px;
    margin: 5px;
    width: 70px;
    color:#e65100;
    border-radius:#fb009b;
}
.tabuleiro {
    width: 200px;
    margin: 20px auto;
    display: grid;
    grid-template-columns: repeat(3, 70px);
    grid-template-rows: repeat(3, 70px);
    gap: 5px;
}

.tabuleiro div {
    background-color: white;
    border: 2px solid #e65100;
    font-size: 32px;
    font-weight: bold;
    color: #fb009b;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.tabuleiro div:hover {
    background-color: #ffcbeb;
}

.placar {
    margin-top: 10px;
}

#mensagem {
    font-weight: bold;
    margin-top: 10px;
    color: #e65100;
}
#tabuleiro{
    display: none;
}