body{background-image: url('https://');background-repeat: no-repeat;background-attachment: fixed;background-position: right top;padding: 0;margin: 0;background-color:#F1F3F4;
font-style:normal;font-variant:normal;font-weight:normal;font-size:15px;font-color:#333333;

font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;

}


td { font-size:15px; font-weight:normal;}
a:link, a:visited { color: #3B5998; text-decoration: none; }
h3 a:link, h3 a:visited { border: 0px none; text-decoration: none; }
h3 img { vertical-align: middle; }
a:hover { color: #000; text-decoration: underline; }
form { margin: 0; padding: 0; }
a img, img { border: 0px none; }
pre {	padding: 0.5em; background: #eee; border: 1px solid #ddd; overflow: auto; }
ul { list-style: square; }
acronym { border-bottom: 1px dotted #999; }


.buttonv4, .buttonv4Suppressed:active, .buttonv4Suppressed:focus, .buttonv4Suppressed:hover{border-left:1px solid #999; border-right:1px solid #999; border-top:1px solid #999; border-bottom:1px solid #888; background:#eee url('https://www.buscasons.com/_img/bg_buttons_01.png') 0 0; box-shadow:0 1px 0 rgba(0, 0, 0, .1);cursor:pointer;display:-moz-inline-box;display:inline-block;font-size:11px;font-weight:bold;line-height:normal !important;text-align:center;text-decoration:none;vertical-align:top;white-space:nowrap; padding-left:6px; padding-right:6px; padding-top:2px; padding-bottom:2px}
.buttonv4 + .buttonv4{margin-left:4px}
.buttonv4:hover{text-decoration:none}
.buttonv4:active, .buttonv4Depressed{background:#ddd;border-bottom-color:#999;box-shadow:0 1px 0 rgba(0, 0, 0, .05)}
.buttonv4 .img{margin-top:2px;vertical-align:top}
.buttonv4Large .img{margin-top:4px}
.buttonv4 .customimg{margin-top:0}
.buttonv4 .buttonv4Text, .buttonv4 input{background:none;border:0px none;color:#333;cursor:pointer;display:-moz-inline-box;display:inline-block;
font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;font-size:11px;font-weight:bold;margin:0;outline:none;white-space:nowrap; padding-left:0; padding-right:0; padding-top:1px; padding-bottom:2px}


.submit_but_green{
background:url('https://www.buscasons.com/_img/submit_but_green.gif');
border:1px solid #3b6e22;
height:24px; 
line-height:24px;
color:#FFFFFF;
font-size:14px;
font-weight: bold;
margin-right:10px;
display:inline-block;
text-decoration:none; padding-left:6px; padding-right:6px; padding-top:0px; padding-bottom:0px
}


input.textlikebutton { 
border:0px none; 
padding:0; 
color: 3B5998;
font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
font-size: 9pt;
font-weight: bold;
background:;
}


input.red {
background-color: #cc0000;
font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
font-size: 9pt;
font-weight: bold;
color: #FFFFFF;
}


input.searchbox2 {
	border: 1px solid #ccc;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	-moz-box-shadow: 2px 2px 3px #666;
	-webkit-box-shadow: 2px 2px 3px #666;
	box-shadow: 2px 2px 3px #666;
	font-size: 14px;
	padding: 4px 7px;
	outline: 0;
	-webkit-appearance: none;
}input.rounded:focus {border-color: #339933;}


.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #F1F3F4;
   color: white;
   text-align: center;
}


/* BTN */

.btn {
  background: #dbdbdb url('linear-gradient(to%20bottom,%20#dbdbdb, #2980b9');
  background-image: -webkit-linear-gradient(top, #dbdbdb, #2980b9);
  background-image: -moz-linear-gradient(top, #dbdbdb, #2980b9);
  background-image: -ms-linear-gradient(top, #dbdbdb, #2980b9);
  background-image: -o-linear-gradient(top, #dbdbdb, #2980b9);
  -webkit-border-radius:28; -moz-border-radius:28; border-radius:28px; 
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif; font-color:#FFFFFF; font-size:29px; font-weight:bold; text-decoration:none; padding-left:39px; padding-right:39px; padding-top:29px; padding-bottom:29px; background-image:url('linear-gradient(to%20bottom,%20#dbdbdb, #2980b9')
}

.btn:hover {
  background: #3cb0fd url('linear-gradient(to%20bottom,%20#3cb0fd, #3498db');
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  text-decoration:none; background-image:url('linear-gradient(to%20bottom,%20#3cb0fd, #3498db')
}


/*	IMAGE SHADOWS 01	*/

.imgshad01 { 
border:0px;
box-shadow: 10px 10px 5px #ccc; -moz-box-shadow: 10px 10px 5px #ccc; -webkit-box-shadow: 10px 10px 5px #ccc; -khtml-box-shadow: 10px 10px 5px #ccc;
}
 
.imgshad02 {
border:0px;
-moz-box-shadow: 10px 10px 5px #ccc; -webkit-box-shadow: 10px 10px 5px #ccc; box-shadow: 10px 10px 5px #ccc; -moz-border-radius:25px; -webkit-border-radius:25px; border-radius:25px;
}

.imgshad03 {
border:0px;
-moz-box-shadow: 4px 4px 2px #ccc; -webkit-box-shadow: 4px 4px 2px #ccc; box-shadow: 4px 4px 2px #ccc; -moz-border-radius:4px; -webkit-border-radius:4px; border-radius:4px;
}


/*	LINES	*/

hr1 {
    border-left:0px none; border-right:0px none; border-bottom:0px none; display: block;
    height: 1px;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0
}

hr2 {
    display: block;
    height: 1px;
    border: 0px none;
    color: #666666;
    margin: 1em 0;
    padding: 0
}


/*	TABLES	*/


table.colorowcinza tr:nth-child(even){background-color: #DDDDDD;}


.tableshad01 {
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
    box-shadow: 10px 10px 5px #888888;
}


.tableshad02 {
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
    box-shadow: 5px 5px 2px #DBDBDB;
}


.tableshad03 { 
	-moz-box-shadow:    1px 3px 5px gray;
	-webkit-box-shadow: 1px 3px 5px gray;
	box-shadow:         1px 3px 5px gray;
}


/* BTN */


.upload-button {
  position: relative;
  overflow: hidden;
  float: left;
  clear: left;
}

.upload-button input[type="file"] {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0;
  font-size: 100px;
  filter: alpha(opacity=0);
  cursor: pointer;
}


.styled-button-1 {
	background:#808080;
	background:-moz-linear-gradient(top,#808080 0%,#666666 100%);
	background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#808080),color-stop(100%,#666666));
	background:-webkit-linear-gradient(top,#808080 0%,#666666 100%);
	background:-o-linear-gradient(top,#808080 0%,#666666 100%);
	background:-ms-linear-gradient(top,#808080 0%,#666666 100%);
	background:linear-gradient(top,#808080 0%,#666666 100%);
	filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#808080', endColorstr='#666666',GradientType=0);
	padding:10px 15px;
	cursor: pointer;
	color:#fff;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
	font-size:16px;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border:1px solid #333333
}

.styled-button-2 {
	background: #E2E2DC;
	background: -moz-linear-gradient(top,#E2E2DC 0%,#D7D7CE 100%);
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#E2E2DC),color-stop(100%,#D7D7CE));
	background: -webkit-linear-gradient(top,#E2E2DC 0%,#D7D7CE 100%);
	background: -o-linear-gradient(top,#E2E2DC 0%,#D7D7CE 100%);
	background: -ms-linear-gradient(top,#E2E2DC 0%,#D7D7CE 100%);
	background: linear-gradient(top,#E2E2DC 0%,#D7D7CE 100%);
	filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#E2E2DC',endColorstr='#D7D7CE',GradientType=0);
	padding:11px 16px;
	color:#fff;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
	font-size:14px;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border:1px solid #666666
}  

.styled-button-3 {
	background: #E2E2DC;
	background: -moz-linear-gradient(top,#E2E2DC 0%,#D7D7CE 100%);
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#E2E2DC),color-stop(100%,#D7D7CE));
	background: -webkit-linear-gradient(top,#E2E2DC 0%,#D7D7CE 100%);
	background: -o-linear-gradient(top,#E2E2DC 0%,#D7D7CE 100%);
	background: -ms-linear-gradient(top,#E2E2DC 0%,#D7D7CE 100%);
	background: linear-gradient(top,#E2E2DC 0%,#D7D7CE 100%);
	filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#E2E2DC',endColorstr='#D7D7CE',GradientType=0);
	padding:4px 9px;
	color:#666666;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
	font-size:14px;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border:1px solid #666666
}  

.styled-button-4 {
	background:#FF9900;
	background:-moz-linear-gradient(top,#FF9900 0%,#FFFF99 100%);
	background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#FF9900),color-stop(100%,#FFFF99));
	background: -webkit-linear-gradient(top,#FF9900 0%,#FFFF99 100%);
	background: -o-linear-gradient(top,#FF9900 0%,#FFFF99 100%);
	background: -ms-linear-gradient(top,#FF9900 0%,#FFFF99 100%);
	background: linear-gradient(top,#FF9900 0%,#FFFF99 100%);
	filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#FF9900',endColorstr='#FFFF99',GradientType=0);
	padding:10px 15px;
	color:#fff;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
	font-size:16px;
	font-weight:normal;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border:1px solid #FFFF99
}

.styled-button-5 {
	background: #E2E2DC;
	background: -moz-linear-gradient(top,#E2E2DC 0%,#D7D7CE 100%);
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#E2E2DC),color-stop(100%,#D7D7CE));
	background: -webkit-linear-gradient(top,#E2E2DC 0%,#D7D7CE 100%);
	background: -o-linear-gradient(top,#E2E2DC 0%,#D7D7CE 100%);
	background: -ms-linear-gradient(top,#E2E2DC 0%,#D7D7CE 100%);
	background: linear-gradient(top,#E2E2DC 0%,#D7D7CE 100%);
	filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#E2E2DC',endColorstr='#D7D7CE',GradientType=0);
	padding:4px 9px;
	color:#fff;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
	font-size:14px;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border:1px solid #666666
}  

.styled-button-6 {
	background:#CC0000;
	background:-moz-linear-gradient(top,#CC0000 0%,#FF6600 100%);
	background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#CC0000),color-stop(100%,#FF6600));
	background: -webkit-linear-gradient(top,#CC0000 0%,#FF6600 100%);
	background: -o-linear-gradient(top,#CC0000 0%,#FF6600 100%);
	background: -ms-linear-gradient(top,#CC0000 0%,#FF6600 100%);
	background: linear-gradient(top,#CC0000 0%,#FF6600 100%);
	filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#CC0000',endColorstr='#FF6600',GradientType=0);
	padding:10px 15px;
	color:#fff;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
	font-size:16px;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border:1px solid #FF6600
}

.styled-button-7 {
	background: #E2E2DC;
	background: -moz-linear-gradient(top,#E2E2DC 0%,#D7D7CE 100%);
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#E2E2DC),color-stop(100%,#D7D7CE));
	background: -webkit-linear-gradient(top,#E2E2DC 0%,#D7D7CE 100%);
	background: -o-linear-gradient(top,#E2E2DC 0%,#D7D7CE 100%);
	background: -ms-linear-gradient(top,#E2E2DC 0%,#D7D7CE 100%);
	background: linear-gradient(top,#E2E2DC 0%,#D7D7CE 100%);
	filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#E2E2DC',endColorstr='#D7D7CE',GradientType=0);
	padding:8px 13px;
	color:#fff;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
	font-size:17px;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border:1px solid #666666
}  

.styled-button-8 {
	background: #25A6E1;
	background: -moz-linear-gradient(top,#25A6E1 0%,#188BC0 100%);
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#25A6E1),color-stop(100%,#188BC0));
	background: -webkit-linear-gradient(top,#25A6E1 0%,#188BC0 100%);
	background: -o-linear-gradient(top,#25A6E1 0%,#188BC0 100%);
	background: -ms-linear-gradient(top,#25A6E1 0%,#188BC0 100%);
	background: linear-gradient(top,#25A6E1 0%,#188BC0 100%);
	filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#25A6E1',endColorstr='#188BC0',GradientType=0);
	padding:8px 13px;
	color:#fff;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
	font-size:17px;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border:1px solid #1A87B9
}  

.styled-button-9 {
	background:#25A6E1;
	background:-moz-linear-gradient(top,#25A6E1 0%,#188BC0 100%);
	background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#25A6E1),color-stop(100%,#188BC0));
	background: -webkit-linear-gradient(top,#25A6E1 0%,#188BC0 100%);
	background: -o-linear-gradient(top,#25A6E1 0%,#188BC0 100%);
	background: -ms-linear-gradient(top,#25A6E1 0%,#188BC0 100%);
	background: linear-gradient(top,#25A6E1 0%,#188BC0 100%);
	filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#25A6E1',endColorstr='#188BC0',GradientType=0);
	padding:10px 15px;
	cursor: pointer;
	color:#fff;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
	font-size:16px;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border:1px solid #1A87B9
}

.styled-button-10 {
	background:#5CCD00;
	background:-moz-linear-gradient(top,#5CCD00 0%,#4AA400 100%);
	background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#5CCD00),color-stop(100%,#4AA400));
	background:-webkit-linear-gradient(top,#5CCD00 0%,#4AA400 100%);
	background:-o-linear-gradient(top,#5CCD00 0%,#4AA400 100%);
	background:-ms-linear-gradient(top,#5CCD00 0%,#4AA400 100%);
	background:linear-gradient(top,#5CCD00 0%,#4AA400 100%);
	filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#5CCD00', endColorstr='#4AA400',GradientType=0);
	padding:10px 15px;
	cursor: pointer;
	color:#fff;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
	font-size:16px;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border:1px solid #459A00
}

.styled-button-11 {
	background:#5CCD00;
	background:-moz-linear-gradient(top,#5CCD00 0%,#4AA400 100%);
	background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#5CCD00),color-stop(100%,#4AA400));
	background:-webkit-linear-gradient(top,#5CCD00 0%,#4AA400 100%);
	background:-o-linear-gradient(top,#5CCD00 0%,#4AA400 100%);
	background:-ms-linear-gradient(top,#5CCD00 0%,#4AA400 100%);
	background:linear-gradient(top,#5CCD00 0%,#4AA400 100%);
	filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#5CCD00', endColorstr='#4AA400',GradientType=0);
	padding:2px 5px;
	color:#fff;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
	font-size:9px;
	font-weight: bold;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border:1px solid #459A00
}

.styled-button-12 {
	background:#CC0000;
	background:-moz-linear-gradient(top,#CC0000 0%,#FF6600 100%);
	background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#CC0000),color-stop(100%,#FF6600));
	background:-webkit-linear-gradient(top,#CC0000 0%,#FF6600 100%);
	background:-o-linear-gradient(top,#CC0000 0%,#FF6600 100%);
	background:-ms-linear-gradient(top,#CC0000 0%,#FF6600 100%);
	background:linear-gradient(top,#CC0000 0%,#FF6600 100%);
	filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#CC0000', endColorstr='#FF6600',GradientType=0);
	padding:2px 5px;
	color:#fff;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
	font-size:9px;
	font-weight: bold;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border:1px solid #FF6600
}

.styled-button-13 {
	background:#808080;
	background:-moz-linear-gradient(top,#808080 0%,#666666 100%);
	background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#808080),color-stop(100%,#666666));
	background:-webkit-linear-gradient(top,#808080 0%,#666666 100%);
	background:-o-linear-gradient(top,#808080 0%,#666666 100%);
	background:-ms-linear-gradient(top,#808080 0%,#666666 100%);
	background:linear-gradient(top,#808080 0%,#666666 100%);
	filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#808080', endColorstr='#666666',GradientType=0);
	padding:9px 11px;
	color:#fff;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
	font-size:12px;
	font-weight: bold;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border:1px solid #333333
}

.styled-button-14 {
	background: #808080;
	background: -moz-linear-gradient(top,#808080 0%,#666666 100%);
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#808080),color-stop(100%,#666666));
	background: -webkit-linear-gradient(top,#808080 0%,#666666 100%);
	background: -o-linear-gradient(top,#808080 0%,#666666 100%);
	background: -ms-linear-gradient(top,#808080 0%,#666666 100%);
	background: linear-gradient(top,#808080 0%,#666666 100%);
	filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#808080',endColorstr='#666666',GradientType=0);
	padding:4px 9px;
	color:#ffffff;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
	font-size:14px;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border:1px solid #333333
}

.styled-button-15 {
	background: #25A6E1;
	background:-moz-linear-gradient(top,#25A6E1 0%,#188BC0 100%);
	background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#25A6E1),color-stop(100%,#188BC0));
	background: -webkit-linear-gradient(top,#25A6E1 0%,#188BC0 100%);
	background: -o-linear-gradient(top,#25A6E1 0%,#188BC0 100%);
	background: -ms-linear-gradient(top,#25A6E1 0%,#188BC0 100%);
	background: linear-gradient(top,#25A6E1 0%,#188BC0 100%);
	filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#25A6E1',endColorstr='#188BC0',GradientType=0);
	padding:4px 9px;
	cursor: pointer;
	color:#FFFFFF;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
	font-size:14px;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border:1px solid #1A87B9
}

.styled-button-gold {
	background:#D4AF37;
	background:-moz-linear-gradient(top,#D4AF37 0%,#FFD700 100%);
	background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#D4AF37),color-stop(100%,#FFD700));
	background:-webkit-linear-gradient(top,#D4AF37 0%,#FFD700 100%);
	background:-o-linear-gradient(top,#D4AF37 0%,#FFD700 100%);
	background:-ms-linear-gradient(top,#D4AF37 0%,#FFD700 100%);
	background:linear-gradient(top,#D4AF37 0%,#FFD700 100%);
	filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#D4AF37', endColorstr='#FFD700',GradientType=0);
	padding:10px 15px;
	color:#8B4513;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
	font-size:16px;
	font-weight: bold;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border:1px solid #FFD700
}


.tooltip {
  position: absolute;
  z-index: 1030;
  display: block;
  font-size: 12px;
  line-height: 1.4;
  opacity: 0;
  filter: alpha(opacity=0);
  visibility: visible;
}

.tooltip.in {
  opacity: 0.9;
  filter: alpha(opacity=90);
}

.tooltip.top {
  padding: 9px 0;
  margin-top: -3px;
}

.tooltip.right {
  padding: 0 5px;
  margin-left: 3px;
}

.tooltip.bottom {
  padding: 9px 0;
  margin-top: 3px;
}

.tooltip.left {
  padding: 0 5px;
  margin-left: -3px;
}

.tooltip-inner {
  max-width: 200px;
  padding: 3px 8px;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  background-color: #0866AC;
  border-radius: 4px;
}

.tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}

.tooltip.top .tooltip-arrow {
  bottom: 0;
  left: 50%;
  margin-left: -9px;
  border-top-color: #0866AC;
  border-width: 9px 9px 0;
}

.tooltip.top-left .tooltip-arrow {
  bottom: 0;
  left: 9px;
  border-top-color: #0866AC;
  border-width: 9px 9px 0;
}

.tooltip.top-right .tooltip-arrow {
  right: 9px;
  bottom: 0;
  border-top-color: #0866AC;
  border-width: 9px 9px 0;
}

.tooltip.right .tooltip-arrow {
  top: 50%;
  left: 0;
  margin-top: -9px;
  border-right-color: #0866AC;
  border-width: 9px 9px 9px 0;
}

.tooltip.left .tooltip-arrow {
  top: 50%;
  right: 0;
  margin-top: -9px;
  border-left-color: #0866AC;
  border-width: 9px 0 9px 9px;
}

.tooltip.bottom .tooltip-arrow {
  top: 0;
  left: 50%;
  margin-left: -9px;
  border-bottom-color: #0866AC;
  border-width: 0 9px 9px;
}

.tooltip.bottom-left .tooltip-arrow {
  top: 0;
  left: 9px;
  border-bottom-color: #0866AC;
  border-width: 0 9px 9px;
}

.tooltip.bottom-right .tooltip-arrow {
  top: 0;
  right: 9px;
  border-bottom-color: #0866AC;
  border-width: 0 9px 9px;
}






/* CAIXAS DE ALERTA, ERRO, INFO, ETC */

.alertERRO {
  padding: 20px;
  background-color: #f44336;
  color: white;
  margin-bottom: 15px;
}.alertERRO a {color: #E5E5E5;}.alertERRO a:hover {color: white;}

.alertINFO {
  padding: 20px;
  background-color: #4B7AA9;
  color: white;
  margin-bottom: 15px;
}.alertINFO a {color: #E5E5E5;}.alertINFO a:hover {color: white;}

.alertOK {
  padding: 20px;
  background-color: #009B00;
  color: white;
  margin-bottom: 15px;
}.alertOK a {color: #E5E5E5;}.alertINFO a:hover {color: white;}

.alertWARN {
  padding: 20px;
  background-color: #FFCC00;
  color: #333333;
  margin-bottom: 15px;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}.closebtn:hover {color: black;}








/*	FORM - SELECT	*/

select {
  margin: 7px;
  font-size: 16px;
  border: 1px solid #ccc;
  height: 34px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #eee url('https://www.tecpromo.org/images/css_select_grey.ico') no-repeat 96% 15%;; padding-left:5px; padding-right:35px; padding-top:5px; padding-bottom:5px
}

/* CAUTION: IE hackery ahead */
select::-ms-expand { 
    display: none; /* remove default arrow on ie10 and ie11 */
}

/* target Internet Explorer 9 to undo the custom arrow */
@media screen and (min-width:0\0) {
    select {
        background:none\9;
        padding: 5px\9;
    } 
}






.text-justify-01 {

  text-align: justify;
  text-justify: inter-word;
}






.upload-button{position:relative;overflow:hidden;float:left;clear:left;}
.upload-button input[type="file"]{display:block;position:absolute;top:0;right:0;opacity:0;font-size:100px;filter:alpha(opacity=0);cursor:pointer;}


