.formControl {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}

.formControl label {
  margin-bottom: 0.6em;
  font-weight: bold;
}

.formControl input {
  padding: 0.7em;
  border-radius: 0;
  border: none;
}

.formControl input::-webkit-outer-spin-button,
.formControl input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.formControl input:-webkit-autofill,
.formControl input:-webkit-autofill:hover,
.formControl input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px #ffffff inset;
  -webkit-text-fill-color: #000000;
}

.formControl input::placeholder {
  color: #7b7b7b;
}
