  body {
      font-family: Arial, sans-serif;
      margin: 5;
      padding: 8px;
  }

  .container {
      width: 100%;
      display: flex;
      gap: 10px;
  }

  .container input,
  label {
      padding: 0.5%;
  }

  /* tabela de pessoas */
  .titulo {
      margin-top: 10px;
      font-size: 30px;
      line-height: 1.6;
  }

  .inserir {
      background-color: #4CAF50;
      border-radius: 5px;
      color: aliceblue;
      border: yellowgreen;
  }

  table {
      width: 100%;
      height: 100%;
      margin: 0.10%;
      margin-top: 2%;
      color: rgb(0, 0, 0);
      border: 2px solid gray;
      border-collapse: collapse;
    }
    
    th {
        text-align: left;
        border: black;
        border: 2px solid gray;
        background-color: #4CAF50;
        color: white;
  }

  .informacoes {
      background-color: white;
      color: black;
  }
  
  td {
    border: 2px solid gray;
    
  }
#btn_remover{
    background-color: #4CAF50;
    color: white;
    border: 1px solid #4CAF50;
    border-radius: 5px;
}

#tabela thead tr th{
    background-color: white;
    color: white;
}
