.pai {
  text-align: center;
}

.top {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  justify-items: center;
}

.luffy-container {
  display: flex;
  justify-content: center;
  margin: 30px 0;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.top1 {
  width: 200px;
  height: 260px;
  text-align: center;
}
.grid-geral {
  display: grid;
  /* Cria exatamente 3 colunas de tamanhos iguais */
  grid-template-columns: repeat(3, 1fr);
  gap: 30px; /* Espaço entre os cartazes */
  max-width: 1000px;
  margin: 0 auto;
  justify-items: center;
}
.outros-container {
  display: flex;
  justify-content: center;
  margin: 30px 0;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.top2 {
  width: 200px;
  height: 260px;
  text-align: center;
}
.cards-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  max-width: 1000px;
  margin: 30px auto;
  justify-items: center;
}
.loading {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.spiner {
  width: 100px;
  height: 100px;
  border-radius: 20px;
}
