/* geral */
* h1 {
    font-weight: bold;
}

/* img */
#heron {
    height: 10rem;
    width: 10rem;
    border-radius: 50%
}

/* background e estilização */
body {
    padding: 10px;
    background-image: url("../img/modern-medical-health-care-scientific-600nw-2622843095.webp");
    background-size: cover;
}

/* descrição */
#full-name {
    color: #414040;
}

h1{
    font-family: 'BBH Sans Bogle';
    text-align: center;
}

/* hobbies e habilidades */
#hobbies,
#habilidades {
    display: flex;
    background-color: #bbddb8;
    padding: 1%;
    border: 2px solid #808080;
    max-width: fit-content;
}

/* me contate/mande sua mensagem */
#input-name,
#input-e-mail {
    padding: 10px;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    border: 2px solid #bbddb8;
    border-radius: 3px;
    transition: 0.4s;
    color: #000;
}

#input-submit {
    padding: 0.7rem;
    width: 25.9rem;
    border: 2px solid #bbddb8;
    border-radius: 3px;
    transition: 0.4s
}

#input-name:hover,
#input-e-mail:hover,
#input-submit:hover {
    background-color: #bbddb8;
    color: #000;
}

#input-name,
#input-e-mail,
#input-submit {
    border: 2px solid black;
}

/* estilo responsivo */
@media (max-width: 450px) {
    #input-submit {
    padding:0.7rem;
    width: 12.5rem;
    border: 2px solid #bbddb8;
    border-radius: 3px;
    transition: 0.4s
    }

}

#rickroll {
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 50%;
    position: fixed;
    right: 0rem;
    bottom: 0rem;
}
