.top1 {
  width: 220px;
  min-height: 280px;
  background-color: #111;
  color: white;
  border-radius: 12px;
  padding: 15px;
  text-align: center;
  box-shadow: 0 0 10px rgba(255, 0, 0, 0.4);
  transition: transform 0.2s ease;
}

.top1:hover {
  transform: scale(1.05);
}

.top1 h3 {
  color: #ffcc00;
  margin-bottom: 10px;
}

.top1 p {
  margin: 5px 0;
  font-size: 14px;
}
.card {
  color: #222;
  background-color: #fff;
  align-items: center;
  text-align: center;
  font-family: "Fredericka the Great";
  border-radius: 20px;
  height: 200px;
  width: 260px;
}
