.modal {
  width: 100%;
  height: 100vh;

  position: fixed;
  top: 0;
  left: 0;

  background-color: rgba(0, 0, 0, 0.8);

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 1000;
}

.modal-container {
  background-color: #fff;
  color: #000;

  width: 60%;
  max-width: 700px;
  min-height: 300px;

  padding: 20px 30px;
  border-radius: 20px;

  position: relative;

  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.close-btn {
  position: absolute;
  top: 15px;
  right: 15px;
  background: none;
  border: none;
  font-size: 22px;
  font-weight: bold;
  cursor: pointer;
  color: #fff;
  background-color: #000;
}

.close-btn:hover {
  color: red;
}

.modal-content h2 {
  margin-bottom: 15px;
}

.modal-content p {
  margin: 6px 0;
  font-size: 16px;
}
