* {
  padding: 0;
  margin: 0;
  border: 0;
  font-family: "Blinker";
}

body {
  padding: 0.5rem;
  background-image: url(./assets/background.png);
  background-color: #0a2809;
  background-size: 100%;
}
