.navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #120039;
}

.linha {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 15px 3px;
  background-color: #120039;
}

.linha li {
  flex-wrap: nowrap;
  margin-bottom: 2rem;
  margin-top: 2rem;
  align-items: center;
  justify-content: space-evenly;
}

.linha h1 {
  color: #fff;
}

.navbar h1 {
  color: #fff;
}

.navbar h2 a {
  opacity: 1;
}

.navbar ul {
  display: flex;
  gap: 1rem;
}

.logo {
  height: 100px;
  width: 100px;
}

.title {
  width: 200px;
}

.characters:hover {
  color: #ffa600;
  border: 2px solid #ffa600;
  opacity: 1;
}
.Z_Fighter:hover {
  color: #ff0000;
  opacity: 1;
  border: 2px solid #ff0000;
}

.button {
  border-radius: 15px;
  border: 2px solid #fff;
  padding: 5px 10px;
  background-color: transparent;
  color: #fff;
  transition: 0.5s;
}
.button:hover {
  transition: 0.5s;
  transform: scale(1.3);
  transition: 0.5s;
}
